# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
NGServer.Build.CppClean.log
NGServer.log
unsuccessfulbuild
.suo
Browse.VC.db
SERVER.ipch
NGServer.ilk
NGServer.pdb
CL.command.1.tlog
CL.read.1.tlog
CL.write.1.tlog
NGServer.lastbuildstate
link.command.1.tlog
link.read.1.tlog
link.write.1.tlog
vc141.idb
vc141.pdb
NGServer.iobj
NGServer.ipdb
NGServer.write.1u.tlog
